<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="BepInEx" value="https://nuget.bepinex.dev/v3/index.json" />
  </packageSources>
  <packageSources>
    <add key="Krafs.Publicizer" value="https://www.nuget.org/packages/Krafs.Publicizer" />
  </packageSources>
</configuration>
